@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.938rem;
  line-height: 1.563rem;
  color: #939CAA;
}

main h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.156rem;
  color: #495567;
  font-weight: bold;
}
main h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.134rem;
  color: #495567;
  font-weight: bold;
}
main h3 {
  font-family: "Space Mono", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.112rem;
  color: #495567;
  font-weight: bold;
}
main h4 {
  font-family: "Space Mono", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.067rem;
  color: #495567;
  font-weight: bold;
}

footer h4 {
  font-family: "Space Mono";
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
}

* {
  margin: 0;
}

body {
  width: 100%;
}

header button {
  display: none;
  margin-left: 32px;
  position: relative;
  top: 610px;
  z-index: 6;
}

header nav ul {
  display: none;
  position: absolute;
  top: 64px;
  z-index: 5;
  width: 68%;
  height: 586px;
  background-color: #495567;
  padding-left: 32px;
  padding-top: 64px;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 24px;
}

header nav ul li a {
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 17.5px;
}

.head svg:first-child {
  position: absolute;
  left: 24px;
}

header {
  height: 64px;
}

header:first-child:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    top: 0;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  header nav {
    width: 523px;
    display: flex;
    position: relative;
    height: 25px;
    top: 0;
    right: 24px;
    padding: 0;
    justify-content: space-between;
  }
  header nav ul {
    background-color: rgba(255, 255, 255, 0);
    width: 249px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
  }
  header button {
    display: block;
    top: 0;
    margin: 0 24px;
  }
  header nav ul li {
    margin: 0;
    padding: 0;
  }
  header nav ul li a {
    color: #939CAA;
    font-family: Space Mono;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }
  .desk_header {
    width: 1106px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  .head {
    position: relative;
    top: 0;
    left: 24px;
  }
  .head svg:first-child {
    display: none;
  }
  .head svg:last-child {
    margin: 0 24px;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

.footer__banner__content__button--playstore, .footer__banner__content__button--appstore {
  color: #495567;
  background-color: #E5ECF4;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  display: grid;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
  text-align: left;
  border: none;
  padding: 0.3rem 1rem;
  font-family: "Space Mono";
  font-weight: bold;
}

.footer__banner__circle--right, .footer__banner__circle--center, .footer__banner__circle--left {
  background-color: #586475;
  width: 347px;
  height: 347px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: 46%;
}

.footer {
  font-family: "Space Mono";
  width: 100%;
}
.footer__banner {
  position: relative;
  background-color: #485567;
  height: 320px;
  display: flex;
  overflow: hidden;
}
.footer__banner__content {
  z-index: 1;
  width: 90%;
  margin: auto;
  display: grid;
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer__banner__content__title {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.footer__banner__content__button--appstore {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
}
.footer__banner__content__button--playstore {
  grid-row: 2;
  grid-column: 2;
  justify-self: start;
}
.footer__banner__content__button__logo {
  grid-row: 1/3;
  grid-column: 1;
  width: 18px;
  height: 20px;
}
.footer__banner__content__button__message {
  grid-row: 1;
  grid-column: 2;
  font-size: 6px;
}
.footer__banner__content__button__store {
  grid-row: 2;
  grid-column: 2;
  font-size: 13px;
  font-weight: bold;
}
.footer__banner__circle--left {
  right: calc(520.5px + 6rem);
  border: 1rem solid #586475;
  background-color: inherit;
}
.footer__banner__circle--center {
  right: calc(173.5px + 3rem);
  border: 1rem solid #586475;
  background-color: inherit;
}
.footer__banner__circle--right {
  right: -173.5px;
}
.footer__infos {
  height: 438px;
  background-color: #333A44;
  display: flex;
}
.footer__infos__content {
  height: 65%;
  margin: auto;
  display: grid;
  text-align: center;
}
.footer__infos__content__title {
  color: #FFFFFF;
}
.footer__infos__content__title a {
  color: inherit;
  text-decoration: none;
}
.footer__infos__content__links {
  color: #939CAA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__infos__content__links a {
  text-decoration: inherit;
  color: inherit;
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-underline-position: from-font;
}
.footer__infos__content__links a:hover {
  color: #FCB72B;
}
.footer__infos__content__socials {
  align-self: end;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer__infos__content__socials a {
  display: flex;
  align-items: center;
}
.footer__infos__content__socials__logo--facebook {
  width: 24px;
  height: 24px;
  fill: #FCB72B;
}
.footer__infos__content__socials__logo--facebook:hover {
  fill: #E5ECF4;
}
.footer__infos__content__socials__logo--twitter {
  width: 24px;
  height: 20px;
  fill: #FCB72B;
}
.footer__infos__content__socials__logo--twitter:hover {
  fill: #E5ECF4;
}
.footer__infos__content__socials__logo--instagram {
  width: 24px;
  height: 24px;
  fill: #FCB72B;
}
.footer__infos__content__socials__logo--instagram:hover {
  fill: #E5ECF4;
}

@media only screen and (768px <= width) {
  .footer__banner {
    height: 300px;
  }
  .footer__banner__content {
    width: 60%;
  }
  .footer__banner__content__title {
    font-size: 48px;
    line-height: 48px;
    font-family: Space Mono;
    letter-spacing: -2.1428570747px;
  }
  .footer__infos {
    height: 96px;
  }
  .footer__infos__content {
    height: inherit;
    width: 90%;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: min-content min-content auto;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .footer__infos__content__title {
    justify-self: start;
  }
  .footer__infos__content__links {
    flex-direction: row;
    justify-content: space-around;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .footer__infos__content__socials {
    justify-self: right;
    align-self: center;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
@media only screen and (1440px <= width) {
  .footer__banner__content {
    width: 80%;
    grid-template-columns: auto min-content min-content;
    align-items: center;
  }
  .footer__banner__content__title {
    width: 415px;
    font-size: 48px;
    line-height: 48px;
    grid-row: 1;
    grid-column: 1;
    justify-self: left;
  }
  .footer__banner__content__button--appstore {
    grid-row: 1;
    grid-column: 2;
  }
  .footer__banner__content__button--playstore {
    grid-row: 1;
    grid-column: 3;
  }
  .footer__infos__content {
    width: 80%;
  }
}
.button {
  background-color: #FCB72B;
  width: 195px;
  height: 53px;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  border: 2px solid #FCB72B;
  transition: background-color 0.2s, color 0.2s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #FCB72B;
}

* {
  margin: 0;
}

#home_header {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.fleche {
  width: 100%;
  overflow: hidden;
}

.values {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 9.063rem;
}

.values__articles__value {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 3.5rem;
}

.values__title {
  margin-bottom: 6.438rem;
}

.values img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
}

.values__articles__value > h3 {
  margin-bottom: 1.688rem;
}

.values__articles__value > p {
  text-align: center;
}

.values h4 {
  margin-bottom: 1.688rem;
}

.bulle {
  width: 6rem;
  height: 6rem;
  background-color: #FCB72B;
  border-radius: 50%;
  position: relative;
  margin-left: 4.5rem;
  top: -5rem;
}

.values picture {
  height: 18rem;
}

.values .bulle h4 {
  position: relative;
  width: 29px;
  height: 28px;
  top: 34px;
  left: 34px;
  text-align: center;
}

@media (min-width: 768px) {
  .values {
    width: 457px;
    flex-direction: column;
    margin-bottom: 9.063rem;
  }
  .values__articles__value {
    width: 457px;
  }
}
@media (min-width: 1440px) {
  .values {
    width: 1110px;
    height: 608px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 7.5rem;
  }
  .values__articles {
    display: flex;
    flex-direction: row;
  }
  .values__articles__value {
    flex-direction: column;
    width: 350px;
    height: 512px;
    margin-right: 1.875rem;
  }
}
#home {
  position: relative;
  text-align: center;
  width: 100%;
  height: 650px;
  background-image: url("/img/home_page/Header.jpg");
  background-position: right center;
  z-index: 1;
}

#about {
  position: relative;
  text-align: center;
  width: 100%;
  height: 160px;
  background-image: url("/img/about/About_header.jpg");
  background-position: right center;
  z-index: 1;
}

#careers, #locations {
  position: relative;
  text-align: center;
  width: 100%;
  height: 160px;
  background-image: url("/img/global/careers_locations_header.jpg");
  background-position: right center;
  z-index: 1;
}

.baneer article {
  display: flex;
  position: relative;
  z-index: 3;
  width: 311px;
  height: 356px;
  margin: auto;
}

.baneer svg {
  position: absolute;
  top: 478px;
  right: 241px;
  width: 447px;
  height: 138px;
  z-index: 4;
}

#home .opacity {
  position: absolute;
  width: 100%;
  height: 650px;
  background-color: #495567;
  opacity: 0.7;
  z-index: 2;
}

#about .opacity, #careers .opacity, #locations .opacity {
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: #495567;
  opacity: 0.5;
  z-index: 2;
}

#about h1, #careers h1, #locations h1 {
  height: 40px;
  margin-top: 60px;
}

.baneer article h1 {
  width: 311px;
  height: 120px;
  color: white;
  font-family: Space Mono;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 115px;
}

.baneer article p {
  width: 311px;
  height: 125px;
  color: white;
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .baneer svg {
    right: 448px;
  }
  .baneer article {
    width: 573px;
    height: 296px;
  }
  .baneer article h1 {
    width: 573px;
    height: 112px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
  .baneer article p {
    width: 573px;
    height: 75px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  #home .containerpoints {
    margin: 0;
    position: absolute;
    bottom: 45px;
    right: -31px;
    display: flex;
  }
  #about .containerpoints, #careers .containerpoints, #locations .containerpoints {
    margin: 0;
    position: absolute;
    top: 69px;
    right: -31px;
    display: flex;
  }
  .points {
    margin-right: 24px;
    z-index: 7;
    width: 62px;
    height: 62px;
    border: 3px solid white;
    border-radius: 50%;
  }
  #third_point {
    background-color: white;
    margin-right: 0;
  }
  #about article, #careers article, #locations article {
    margin-left: 97px;
  }
  #about, #careers, #locations {
    height: 200px;
    text-align: left;
  }
  #about .opacity, #careers .opacity, #locations .opacity {
    height: 200px;
  }
  #about h1, #careers h1, #locations h1 {
    height: 56px;
    text-align: left;
    margin-top: 72px;
  }
}
@media (min-width: 1140px) {
  .baneer {
    background-size: cover;
  }
  .baneer svg:first-child {
    transform: scaleX(-1);
    top: 355px;
    left: -391px;
  }
  .baneer svg:last-child {
    top: 355px;
    left: 526px;
  }
  .baneer article {
    margin-left: 165px;
    height: 0;
    width: 0;
  }
  .baneer article h1 {
    width: 500px;
    text-align: left;
    left: 0;
    margin-top: 153px;
  }
  .baneer article p {
    width: 405px;
    height: 100px;
    margin-left: 95px;
  }
  .baneer article button {
    position: relative;
    left: -55px;
  }
  .containerpoints {
    top: 430px;
  }
  #about h1, #careers h1, #locations h1 {
    margin-left: 165px;
  }
}/*# sourceMappingURL=style.css.map */