@use "color.scss";

.button {
    background-color: color.$Yellow;
    width: 195px;
    height: 53px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 2px solid color.$Yellow ;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
        background-color: rgba($color: white, $alpha: 0);
        color: color.$Yellow;
    }
}
