* {
    border: 1px solid black;
}

body {
    width: 100%;
}

nav {
    display: none;
}

.head {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#burger {
    width: 19.69px;
    height: 16px;
    right: 99px;
}

#logo {
    width: 75.5px;
    height: 20px;
}


#home_header {
    overflow: hidden;
    height: 650px;
}

#home_header img {
    object-fit: fill;
}
