
body {
    width: 100%;
}

nav {
    display: none;
}

.head {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head svg:first-child {
    align-self: flex-start;
}

.head svg:last-child {
    margin: 0 auto;
}

#burger {
    width: 19.69px;
    height: 16px;
    right: 99px;
}

#logo {
    width: 75.5px;
    height: 20px;
}

header button {
    display: none;
}

.baneer {
    
    text-align: center;
    width: 100%;
    height: 650px;
    background-image: url("C:/Users/mttor/Documents/Becode/Projet_de_groupe/scoot/img/home_page/Header.jpg"); 
    background-position: right center; 
    z-index: 1;
}

.baneer article {
    display: flex;
    position: relative;
    z-index: 3;
    width: 311px;
    height: 356px;
    top: 179px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
}

.baneer svg {
    width: 447px;
    height: 138px;
    top: 542px;
    left: -312px;
    gap: 0px;
    border: 15px 0px 0px 0px;
    opacity: 0px;
    z-index: 4;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

