*{
  margin : 0
}

#home_header{
  width: 100%;
  overflow-x: hidden;
}

body{
  width: 100%;
  overflow-x: hidden;
}

.fleche{
  width: 100%;
  overflow: hidden;
}
.values{
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 9.063rem;


}

.values__articles__value{
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 3.5rem;



}

.values__title{
margin-bottom: 6.438rem;
}

.values img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
}


.values__articles__value > h3 {

  margin-bottom: 1.688rem;
}

.values__articles__value > p{
  text-align: center;
}
.values h4{
  margin-bottom: 1.688rem;
}
.bulle{
  width: 6rem;
  height: 6rem;
  background-color:#FCB72B;
  border-radius: 50%;
  position: relative;
  margin-left: 4.5rem;
  top: -5rem;
}

.values picture {
  height: 18rem;

}

.values .bulle h4 {
  position: relative;
  width: 29px;
  height: 28px;
  top: 34px;
  left: 34px;
  text-align: center;
}



@media (min-width: 768px) {

  .values {
    width: 457px;
    flex-direction: column;
    margin-bottom: 9.063rem;
  }

  .values__articles__value {
    width: 457px;

  }
}

@media (min-width: 1440px) {

  .values{
    width: 1110px ;
    height: 608px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 7.5rem;

  }

.values__articles{
  display: flex;
  flex-direction: row;
}
  .values__articles__value{
    flex-direction: column;
    width: 350px;
    height: 512px;
    margin-right: 1.875rem;
  }
}

