@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
main h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.156rem;
  color: #495567;
  font-weight: bold;
}
main h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.134rem;
  color: #495567;
  font-weight: bold;
}
main h3 {
  font-family: "Space Mono", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.112rem;
  color: #495567;
  font-weight: bold;
}
main h4 {
  font-family: "Space Mono", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.067rem;
  color: #495567;
  font-weight: bold;
}
main body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.938rem;
  line-height: 1.563rem;
  color: #495567;
}

* {
  margin: 0;
}

body {
  width: 100%;
}

header button {
  display: none;
  margin-left: 32px;
  position: relative;
  top: 610px;
  z-index: 6;
}

header nav ul {
  display: none;
  position: absolute;
  top: 64px;
  z-index: 5;
  width: 68%;
  height: 586px;
  background-color: #495567;
  padding-left: 32px;
  padding-top: 64px;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 24px;
}

header nav ul li a {
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 17.5px;
}

.head svg:first-child {
  position: absolute;
  left: 24px;
}

header {
  height: 64px;
}

header:first-child:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    top: 0;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  header nav {
    width: 523px;
    display: flex;
    position: relative;
    height: 25px;
    top: 0;
    right: 24px;
    padding: 0;
    justify-content: space-between;
  }
  header nav ul {
    background-color: rgba(255, 255, 255, 0);
    width: 249px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
  }
  header button {
    display: block;
    top: 0;
    margin: 0 24px;
  }
  header nav ul li {
    margin: 0;
    padding: 0;
  }
  header nav ul li a {
    color: #939CAA;
    font-family: Space Mono;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }
  .desk_header {
    width: 1106px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  .head {
    position: relative;
    top: 0;
    left: 24px;
  }
  .head svg:first-child {
    display: none;
  }
  .head svg:last-child {
    margin: 0 24px;
  }
}
button {
  background-color: #FCB72B;
  width: 195px;
  height: 53px;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  border: 2px solid #FCB72B;
  transition: background-color 0.2s, color 0.2s;
}
.main_button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #FCB72B;
}

#home {
  position: relative;
  text-align: center;
  width: 100%;
  height: 650px;
  background-image: url("C:/Users/mttor/Documents/Becode/Projet_de_groupe/scoot/img/home_page/Header.jpg");
  background-position: right center;
  z-index: 1;
}

#about {
  position: relative;
  text-align: center;
  width: 100%;
  height: 160px;
  background-image: url("C:/Users/mttor/Documents/Becode/Projet_de_groupe/scoot/img/about/About_header.jpg");
  background-position: right center;
  z-index: 1;
}

#careers, #locations {
  position: relative;
  text-align: center;
  width: 100%;
  height: 160px;
  background-image: url("C:/Users/mttor/Documents/Becode/Projet_de_groupe/scoot/img/global/careers_locations_header.jpg");
  background-position: right center;
  z-index: 1;
}

article {
  display: flex;
  position: relative;
  z-index: 3;
  width: 311px;
  height: 356px;
  margin: auto;
}

.baneer svg {
  position: absolute;
  top: 478px;
  right: 241px;
  width: 447px;
  height: 138px;
  z-index: 4;
}

#home .opacity {
  position: absolute;
  width: 100%;
  height: 650px;
  background-color: #495567;
  opacity: 0.7;
  z-index: 2;
}

#about .opacity, #careers .opacity, #locations .opacity {
  position: absolute;
  width: 100%;
  height: 160px;
  background-color: #495567;
  opacity: 0.5;
  z-index: 2;
}

#about h1, #careers h1, #locations h1 {
  height: 40px;
  margin-top: 60px;
}

.baneer article h1 {
  width: 311px;
  height: 120px;
  color: white;
  font-family: Space Mono;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: center;
  margin-top: 115px;
}

.baneer article p {
  width: 311px;
  height: 125px;
  color: white;
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .baneer svg {
    right: 448px;
  }
  .baneer article {
    width: 573px;
    height: 296px;
  }
  .baneer article h1 {
    width: 573px;
    height: 112px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
  .baneer article p {
    width: 573px;
    height: 75px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  #home .containerpoints {
    margin: 0;
    position: absolute;
    bottom: 45px;
    right: -31px;
    display: flex;
  }
  #about .containerpoints, #careers .containerpoints, #locations .containerpoints {
    margin: 0;
    position: absolute;
    top: 69px;
    right: -31px;
    display: flex;
  }
  .points {
    margin-right: 24px;
    z-index: 7;
    width: 62px;
    height: 62px;
    border: 3px solid white;
    border-radius: 50%;
  }
  #third_point {
    background-color: white;
    margin-right: 0;
  }
  #about article, #careers article, #locations article {
    margin-left: 97px;
  }
  #about, #careers, #locations {
    height: 200px;
    text-align: left;
  }
  #about .opacity, #careers .opacity, #locations .opacity {
    height: 200px;
  }
  #about h1, #careers h1, #locations h1 {
    height: 56px;
    text-align: left;
    margin-top: 72px;
  }
}
@media (min-width: 1140px) {
  .baneer {
    background-size: cover;
  }
  .baneer svg:first-child {
    transform: scaleX(-1);
    top: 355px;
    left: -391px;
  }
  .baneer svg:last-child {
    top: 355px;
    left: 526px;
  }
  .baneer article {
    margin-left: 165px;
    height: 0;
    width: 0;
  }
  .baneer article h1 {
    width: 500px;
    text-align: left;
    left: 0;
    margin-top: 153px;
  }
  .baneer article p {
    width: 405px;
    height: 100px;
    margin-left: 95px;
  }
  .baneer article button {
    position: relative;
    left: -55px;
  }
  .containerpoints {
    top: 430px;
  }
  #about h1, #careers h1, #locations h1 {
    margin-left: 165px;
  }
}

/*# sourceMappingURL=style.css.map */
